:root {
  --accent: #b8fe1eff;
  --dark: rgb(54, 54, 54);
  --white: rgb(240, 244, 237);
  --black: rgb(3, 3, 1);
  --red: #a71d31ff;
  --gradient-top: linear-gradient(0deg, var(--black), var(--dark));
  font-family: "Kode Mono", monospace;
}
body {
  background: var(--gradient-top);
}

::placeholder {
  color: var(--white);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--white);
}
input[type="text"]{
  text-align: center;
}
#miCanvas{
  position: absolute;
  z-index: -1312;
/*   display: none; */
}
#playButt {
  margin:auto;
  z-index: 13;
  padding: 20px;
  border-radius: 50%;
  background-color: var(--accent);
  color: var(--black);
  border: 3px solid var(--dark);
  aspect-ratio: 1;
  display: none;
  position:absolute;
  bottom: 0vh;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#logo {
  margin: 0;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  50% {opacity: 0;}
}

.screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: center;
  justify-items: center;
  position: relative;
}

/* #startPoint{
  position: absolute;
  left:20%;
  top:2%;
  right: 20%;
  font-size: 2em;
} */
#myProgress {
  position: absolute;
  left:10%;
  bottom: 2vh;
  box-sizing: border-box;
  overflow: hidden;
  width: 80%;
  height: 1vh;
  background-color: #888;
  border-radius: 42%;
  z-index: 22;
}
#myBar {
  width: 10%;
  height: 100%;
  background-color: #a0ff10;
  border-radius: 42%;
  position: absolute;
}

.centered {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -0%);
  padding: 2vw;
  color: var(--accent);
  font-size: large;
  text-align: center;
}
.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 5s ease-in-out infinite alternate;
  -moz-animation: glow 5s ease-in-out infinite alternate;
  animation: glow 5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--dark), 0 0 40px var(--dark), 0 0 50px var(--dark), 0 0 60px var(--dark), 0 0 70px var(--dark);
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px var(--accent), 0 0 40px var(--accent), 0 0 50px var(--accent), 0 0 60px var(--accent), 0 0 70px var(--accent), 0 0 80px var(--accent);
  }
}