.playButt {
  margin:auto;
  z-index: 13;
}

.label {
  color: white;
}
#user-name {
  color: white;
}

.screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: center;
  justify-items: center;
}

#startPoint{
  position: absolute;
  left:20%;
  top:2%;
  right: 20%;
  font-size: 2em;
}
#myProgress {
  position: absolute;
  left:10%;
  /* top: calc(100% - 50px); /* Example: 50px below #startPoint */
  bottom: 2vh;
/*   border: 3px solid blue;
 */  box-sizing: border-box;
  font-size: 1em;
  display: none;
  opacity: 0.5;
  width: 80%;
  height: 1vh;
  background-color: #ddd;
   border-radius: 42%;
}
#myBar {
  width: 1%;
  height: 100%;
  background-color: #a0ff10;
  border-radius: 42%;
}
#levelUp{
  top: -10;
  color: #a0ff10
}

.addOnButt {
  color: #a0ff10;
  
}
#botones{
  display: none
}